@charset "utf-8";

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --base-color: rgba(255, 236, 233);
  --accent-color: rgb(212, 93, 93);
}

body {
  font-size: 14px;
  color: #333;
  /* color: red; */
  font-family: Arial, Helvetica, sans-serif;
  background: var(--base-color);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button:focus {
  outline: none;
}

.logo {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* ヘッダー */
.header {
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, .5);
  backdrop-filter: blur(10px);
  padding-left: 12px;
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, .35);
}

.header .logo {
  font-size: 24px;
  color: #333;
  line-height: 50px;
}

.cart {
  all: unset;
  width: 40px;
  line-height: 50px;
  margin-left: auto;
  margin-right: 5px;
  cursor: pointer;
  position: relative;
}

.cart__total {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 18px;
  line-height: 18px;
  font-size: 10px;
  text-align: center;
  border-radius: 50px;
  position: absolute;
  top: 0;
  right: -5px;
  background: rgb(255, 86, 80);;
  color: #fff;
}

.sp-hamburger {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 18px 10px;
  cursor: pointer;
}

.sp-hamburger .line {
  display: inline-block;
  width: 30px;
  height: 2px;
  background: #333;
}

/* main */
main {
  flex: 1;
  padding-top: 50px;
}
.container {
  /* max-width: 375px; */
  margin: 0 auto;
  padding: 0 3%;
}

/* 検索・絞り込み */
.search-form {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.search-form input {
  padding: 0 16px;
  height: 35px;
  border: 1px solid gray;
  flex: 1;
}

.search-form input:focus {
  border: 1px solid #333;
  outline: 1px solid #333;
}

.search-form button {
  display: inline-block;
  border: none;
  font-size: 12px;
  padding: 0 16px;
  height: 35px;
  color: #fff;
  background: #333;
  border-radius: 4px;
  cursor: pointer;
}

.select-category {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  align-items: center;
  margin: 20px 0;
}

.select-category p {
  font-size: 14px;
}

.select-category select {
  font-size: 12px;
  padding: 8px 20px 8px 8px;
  line-height: 25px;
  border: 1px solid gray;
  color: #333;
  cursor: pointer;
}

.select-category select:focus {
  outline: none;
}

/* 商品一覧 */
.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px 2%;
}

/* 商品カード */
.products__card {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.products__card .product-name{
  flex: 1;
}

.products__card p {
  margin: 6px 0;
  font-weight: bold;
}

.products__btn {
  padding-top: 8px;
}

.add-cart {
  all: unset;
  width: 100%;
  text-align: center;
  font-size: 14px;
  height: 37px;
  border-radius: 50px;
  color: #fff;
  background: #333;
  cursor: pointer;
  box-sizing: border-box;
  transition: .3s;
}

.add-cart:hover {
  background: var(--accent-color);
}

.select-count {
  display: flex;
}

.select-count .flex {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
  border: 1px solid #333;
  border-radius: 50px;
  height: 35px;
  box-sizing: border-box;
}

.select-count button:not(.count-reset) {
  all: unset;
  width: 44px;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
}

.select-count span {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size: 20px;
  width: 30px;
  user-select: none;
}

.count-reset {
  all: unset;
  margin-left: 5px;
  cursor: pointer;
}

.count-reset img {
  width: 35px;
  height: 35px;
}

.undefined-products-message {
  grid-column: 2;
  text-align: center;
}

/* フッター */
.footer {
  flex-shrink: 0;
  margin-top: 32px;
  padding: 16px 4% 8px;
  background: #513A38;
}

.footer .logo {
  color: #fff;
  font-size: 16px;
}

.footer small {
  display: block;
  text-align: center;
  font-size: 10px;
  color: #fff;
  margin-top: 20px;
}

@media (min-width: 650px) {
  body {
    font-size: 16px;
  }

  /* ヘッダー */
  .header {
    padding-left: 20px;
  }
  .header .logo {
    font-size: 35px;
    line-height: 70px;
  }

  .cart {
    width: 60px;
    line-height: 70px;
    margin-right: 16px;
  }

  .cart__total {
    width: 25px;
    line-height: 25px;
    font-size: 15px;
  }

  .sp-hamburger {
    display: none;
  }

  /* main */
  main {
    padding-top: 70px;
  }

  .container {
    padding: 0 5%;
  }

  /* 検索・絞り込み */
  .search-form,
  .select-category {
    max-width: 1300px;
    margin: 30px auto;
  }

  .search-form input {
    height: 45px;
    font-size: 16px;
  }

  .search-form button {
    height: 45px;
    padding: 0 20px;
    font-size: 16px;
  }

  .select-category p,
  .select-category select {
    font-size: 16px;
  }

  /* 商品一覧 */
  .products {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px 2%;
  }

  .products p {
    font-size: 18px;
    margin: 12px 0;
  }

  .add-cart {
    font-size: 16px;
    height: 50px;
  }

  .select-count .flex {
    height: 50px;
  }

  .select-count button:not(.count-reset) {
    width: 50px;
    font-size: 35px;
  }

  .select-count span {
    font-size: 23px;
  }

  .count-reset img {
    width: 50px;
    height: 50px;
  }

  /* フッター */
  .footer {
    margin-top: 60px;
    padding: 30px 5% 12px;
  }

  .footer .logo {
    font-size: 30px;
  }

  .footer small {
    font-size: 12px;
    margin-top: 30px;
  }
}

@media (min-width: 1500px) {
  /* 商品一覧 */

  .products__card p {
    font-size: 20px;
  }

  .add-cart,
  .select-count .flex {
    height: 70px;
  }

  .select-count .flex {
    width: 80%;
  }

  .add-cart {
    font-size: 23px;
  }

  .select-count button:not(.count-reset) {
    font-size: 40px;
    width: 70px;
  }

  .select-count span {
    font-size: 30px;
  }

  .count-reset img {
    width: 70px;
    height: 70px;
  }
}